<h2>Amigos</h2>
<div class="row 2">
  <% @user.friendships.each_with_index do |friendship,index| %>
    <div class="col s4 m4 l4">
      <div class="card small gradient-45deg-light-blue-cyan gradient-shadow white-text">
        <div class="card-content">
          <p class=""><%= friendship.friend.email %></p>
            <% if @user.inverse_friends.ids== friendship.friend_id  %>
                <i class="fa fa-ban"></i> te tiene en su lista de amigos
            <% else %>
                <span style="text-decoration: line-through;"> no te tiene en su lista</span>
            <% end %>
        </div>
        <div class="card-action">
          <%= link_to "destruir amistad", friendship, :method => :delete , class: "waves-effect waves-light btn gradient-45deg-red-pink"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
<p>

  <%# for user in @user.inverse_friends %>
    <%#= user.email %>
  <%# end %>
