
      <!--breadcrumbs end-->
      <!--start container-->
      <div class="container">
        <div class="section">

            <%= yield %>

        </div>
      </div>



    <!-- END CONTENT -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START RIGHT SIDEBAR NAV-->

    <!-- END RIGHT SIDEBAR NAV-->
  </div>
  <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<!-- END FOOTER -->
