<footer class="page-footer gradient-45deg-light-blue-cyan">
  <div class="footer-copyright">
    <div class="container">
      <span>Copyright ©
      <a class="grey-text text-lighten-2" href="http://nipse.online" target="_blank">xappify</a> All rights reserved.</span>
      <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-lighten-2" href="https://thecoderun.com.ve">thecoderun</a></span>
    </div>
  </div>
</footer>
