
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color gradient-45deg-light-blue-cyan">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <a href="index.html" class="brand-logo darken-1">
                <%=  image_tag "logo/materialize-logo.png", alt: "materialize logo" %>
                <span class="logo-text hide-on-med-and-down">Xappify  <sub><font size= "2">0.1.0</font></sub></span>
              </a>
            </h1>
          </li>
        </ul>
        <div class="header-search-wrapper hide-on-med-and-down">
          <i class="fa fa-search">

          </i>
          <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Buscar paciente" />
        </div>
        <ul class="right hide-on-med-and-down">

          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
              <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
              <i class="fa fa-user fa-2x" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
              <span class="avatar-status avatar-online">
                <%= image_tag "avatar/avatar-7.png"%>
                <i></i>
              </span>
            </a>
          </li>

          </li>
        </ul>
        <!-- notifications-dropdown -->
        <ul id="notifications-dropdown" class="dropdown-content">
          <li>
            <h6>NOTIFICATIONS
              <span class="new badge">5</span>
            </h6>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#!" class="grey-text text-darken-2">
              <span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
          </li>
        </ul>
        <!-- profile-dropdown -->
        <ul id="profile-dropdown" class="dropdown-content">
          <li>
            <a href="#" class="grey-text text-darken-1">
              <i class="material-icons">face</i> Profile</a>
          </li>
          <li>
            <a href="#" class="grey-text text-darken-1">
              <i class="material-icons">settings</i> Settings</a>
          </li>

          <li class="divider"></li>
          <li>
            <a href="#" class="grey-text text-darken-1">
              <i class="material-icons">lock_outline</i> Lock</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>