
<!DOCTYPE html>
<html>
  <head>
    <title>Socialxapia</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body background="/images/bg.jpg">
    <div id="main">
      <%= yield %>
    </div>
</body>
</html>




